.headerConteiner {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.headerContent {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b07eec;
  min-width: 400px;
  width: 400px;
  height: 40px;
  border-radius: 15px;
}
