.ToDoConteiner {
  display: flex;
  justify-content: center;
}
.ToDo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 20px;
  /* margin: 30px 60px 30px 60px; */
  padding: 10px 20px 10px 20px;
  background-color: white;
  border-radius: 25px;
  min-width: 360px;
  width: 400px;
  height: 100%;
}

.leftToDoPart {
  display: flex;
  flex-direction: column;
}

.toDoNameWCheckbox {
  display: flex;
  gap: 10px;
}

.rightToDoPart {
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.toDoNameWRadio {
  display: flex;
  flex-direction: row;
}

.description {
  width: 230px;
}

.dateToDoes {
  color: purple;
}

/* #nameChecker:checked{

} */
